@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    border: 2px solid red; /* debugging*/
}

body, a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}

.hero, footer {
    background-color: #1f2937;
}

.header {
    outline: 1px solid blueviolet;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-wrapper {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.hero-content {
    width: 480px;
    margin-right: auto;
    padding-right: 40px;
    letter-spacing: 0.03rem;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-content * {
    font-size: 18px;
}

.hero-content p, a, .quote {
    color: #e5e7eb;
}

.hero-content a {
    background-color: #3882f6;
    width: 100px;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hero-image {
    width: 480px;
}

.hero-image img {
    width: 100%;
}

/* styling may content */

main {
    color: black;
}

.info {
    width: 1000px;
    margin: 0 auto;
    outline: 1px solid coral;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}