@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    border: 2px solid red; /* debugging*/
}

body, a {
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
}

.hero, footer {
    background-color: #1f2937;
}

.header {
    outline: 1px solid blueviolet;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo {
    margin-right: auto;
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-wrapper {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    outline: 1px solid coral;
}

.hero-content {
    outline: 1px solid greenyellow;
    width: 480px;
    margin-right: auto;
    padding-right: 40px;
    letter-spacing: 0.03rem;
}

.hero-image {
    width: 480px;
}

.hero-image img {
    width: 100%;
}



/*
.hero-wrapper {
    max-width: 100%;
    outline: 1px solid coral;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.hero-wrapper .hero-content {
    padding-right: 30px;
    margin-right: 0 auto;
    max-width: 50%;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.hero-content h1 {
    font-size: 3.8rem;
    font-weight: 900;
    letter-spacing: 0.06rem;
}

.hero-content p {
    letter-spacing: 0.03rem;
}

.hero-content a {
    margin-bottom: 20px;
    letter-spacing: 0.04rem;
}

.hero-wrapper .hero-image {
    flex: 1;
    max-width: 50%;
}

.hero-image img {
    display: block;
    width: 100%;
}
*/